<p>
  <label for="import_mapping_subject"><%= l(:field_login) %></label>
  <%= mapping_select_tag @import, 'login' %>
  <span style="color:grey;margin-left: 1em;">Si aucune colonne n'est sélectionnée, le login sera généré en fonction de l'adresse email.</span>
</p>

<p>
  <label for="import_mapping_subject"><%= l(:field_firstname) %></label>
  <%= mapping_select_tag @import, 'firstname', :required => true %>
</p>
<p>
  <label for="import_mapping_subject"><%= l(:field_lastname) %></label>
  <%= mapping_select_tag @import, 'lastname', :required => true %>
</p>

<p>
  <label for="import_mapping_subject"><%= l(:field_mail) %></label>
  <%= mapping_select_tag @import, 'mail', :required => true %>
</p>

<p>
  <label for="import_mapping_category"><%= l(:field_organization) %></label>
  <%= mapping_select_tag @import, 'organization' %>
  <label class="block">
    <%= check_box_tag 'import_settings[mapping][create_organizations]', '0', false, disabled: true %>
    <%= l(:label_create_missing_values) %> <span style="color:grey;">(Fonctionnalité désactivée pour l'instant. Le référentiel des organisations doit être géré manuellement.)</span>
  </label>
</p>
