<div class="contextual">
  <%= link_to l(:label_user_imports), all_user_imports_path %>
</div>
<h2><%= l(:label_import_users) %></h2>

<% if @import.saved_items.count > 0 %>
  <p>
    <%= l(:notice_import_finished_with_total, :count => @import.saved_items.count, :total => @import.total_items) %> :
  </p>

  <ul id="saved-items">
    <% @import.saved_objects.each do |user| %>
      <li>
        <%= link_to_user user %>
        <% if user.organization.present? %>
          (<%= link_to_organization user.organization %>)
        <% else %>
          - Organisation à ajouter
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @import.unsaved_items.count > 0 %>
  <p><%= l(:notice_import_finished_with_errors, :count => @import.unsaved_items.count, :total => @import.total_items) %>
    :</p>

  <table id="unsaved-items" class="list">
    <thead>
    <tr>
      <th>Position</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <% @import.unsaved_items.each do |item| %>
      <tr>
        <td><%= item.position %></td>
        <td><%= simple_format_without_paragraph item.message %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<p><%= link_to l(:label_user_view_all), users_path(:set_filter => 1, :user_id => @import.saved_objects.map(&:id).join(',')) %></p>
<p><%= link_to l(:label_user_imports), all_user_imports_path %></p>
