<div class="contextual">
  <%= link_to l(:label_new_csv_import), new_user_imports_path %>
</div>
<h2><%= l(:label_user_imports) %></h2>

<% if @imports.present? %>
  <table class="list imports">
    <thead>
    <th>Id</th>
    <th>Filename</th>
    <th>User</th>
    <th>Settings</th>
    <th>Mapping</th>
    <th>Memberships</th>
    <th>Saved items / Total items</th>
    <th>Finished</th>
    <th>Created_at</th>
    <th>Updated_at</th>
    </thead>
    <% @imports.each do |import| %>
      <tr>
        <td class="import"><%= link_to import.id, import_path(import) %></td>
        <td class="import"><%= link_to import.filename, import_path(import) %></td>
        <td class="import"><%= import.user %></td>
        <td class="import"><%= import.settings.reject { |k, v| k == 'mapping' || k == 'memberships' } %></td>
        <td class="import"><%= import.settings['mapping'] %></td>
        <td class="import"><%= import.settings['memberships'] %></td>
        <td class="import"><%= "#{import.saved_items.size} / #{import.total_items}" %></td>
        <td class="import"><%= import.finished %></td>
        <td class="import"><%= import.created_at %></td>
        <td class="import"><%= import.updated_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>
